<div id="wrap">

  <header class="masthead" id="headerInicio">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1><a href="#headerInicio" title="Brimes">Brimes</a>
            <p class="lead"></p></h1>
        </div>
        <div class="col-sm-6">
          <div class="pull-right  hidden-xs">    
            <% if !current_user %>
             <%= render partial: 'usuarios/login' %>
            <% else%>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h3><i class="glyphicon glyphicon-user"></i></h3></a>
              <ul class="dropdown-menu">
                <li><%= link_to(login_path) do %><i class="glyphicon glyphicon-log-in"></i> Login<% end %></li>
                <li><a href="#headerInicio"><i class="glyphicon glyphicon-list-alt"></i>Criar conta</a></li>
              </ul>
            <%end%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <ul class="list-inline center-block">
            <li><a href="http://www.linkedin.com/pub/bruno-lima/2b/538/89b"><i class="icon-social linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/bruno.lima.3304673"><i class="icon-social facebook"></i></a></li>
            <li><a href="https://twitter.com/brunodelima"><i class="icon-social twitter"></i></a></li>
            <li><a href="https://plus.google.com/114871689970102821401"><i class="icon-social google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>


  <!-- Fixed navbar -->
  <div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li class="active"><a href="#headerInicio"><strong>Inicio</strong></a></li>
          <li><a href="#divBlog">Blog</a></li>
          <li><a href="#divApps">Apps</a></li>
          <li><a href="#divAbout">Sobre mim</a></li>
          <li><a href="#divContact">Entre em contato</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar -->

  <!-- Begin page content -->
  <div class="divider" id="divBlog"></div>

  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="page-header text-center">
        <h1>Meu Blog</h1>
      </div>

      <p class="lead text-center">
        Coisas para ler....
      </p>
      <p class="text-center">
        lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm 
      </p>
      <p class="lead text-center">
        Coisas para ler....
      </p>
      <p class="text-center">
        lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm 
      </p>
      <p class="lead text-center">
        Coisas para ler....
      </p>
      <p class="text-center">
        lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm 
      </p>
      <p class="lead text-center">
        Coisas para ler....
      </p>
      <p class="text-center">
        lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm 
      </p>
      <p class="lead text-center">
        Coisas para ler....
      </p>
      <p class="text-center">
        lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm 
      </p>
      <p class="lead text-center">
        Coisas para ler....
      </p>
      <p class="text-center">
        lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm 
      </p>
      <p class="lead text-center">
        Coisas para ler....
      </p>
      <p class="text-center">
        lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm 
      </p>
      <p class="lead text-center">
        Coisas para ler....
      </p>
      <p class="text-center">
        lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm lesrm 
      </p>
    </div>
  </div>

  <div class="divider" id="divApps"></div>

  <section class="bg-1">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Apps</h2></div>
  </section>

  <div class="divider" id="divAbout"></div>

  <section class="bg-2">
    <div class="col-sm-6 col-sm-offset-3 text-center"><h2 style="padding:20px;background-color:rgba(5,5,5,.8)">Sobre mim</h2></div>
  </section>

  <div class="container" >
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>Bruno de Lima Soares</h1>

      <p>

      </p>

      <hr>
    </div><!--/col-->
  </div><!--/container-->

  <div class="divider" id="divContact"></div>

  <div class="row">

    <div class="col-sm-8">

      <div class="row form-group">
        <div class="col-xs-5">
          <input type="email" class="form-control" name="email" placeholder="Email" required="">
        </div>
        <div class="col-xs-5">
          <input type="email" class="form-control" name="phone" placeholder="Phone" required="">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-10">
          <input type="text" class="form-control" placeholder="Mensagem" required="">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-xs-10">
          <button class="btn btn-default pull-right">Contact Me</button>
        </div>
      </div>

    </div>
    <div class="col-sm-3 pull-right">

      <address>
        <strong>Email</strong><br>
        <a href="mailto:#">brunodelima@gmail.com</a>
      </address>          
    </div>

  </div><!--/row-->

  <div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h2>Veja também</h2>
      <hr>
      <p><a href="http://alanwillms.com/">Alan willms</a></p>
      <p><a href="http://claudioney.com/">Claudioney</a></p>
      <p><a href="http://www.imbw.com.br/">Imbw</a></p>
      <h2>Links úteis</h2>
      <hr>
      <p><a href="http://www.getboostrap.com/">Bootstrap</a></p>
      <p><a href="http://www.bootply.com/">Bootply</a></p>
      <hr>
    </div><!--/col-->
  </div><!--/container-->

</div><!--/wrap-->

<div id="footer">
  <div class="container">
    <p class="text-muted">© Bruno de Lima Soares (Brimes) <%= @time.strftime("%Y") %></a></p>
  </div>
</div>

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

<script type='text/javascript'>

  $(document).ready(function() {

    /* affix the navbar after scroll below header */
    $('#headerInicio').height($(window).height() - 55);
    //alert();
    $('#nav').affix({
      offset: {
        top: $('header').height() - $('#nav').height()
      }
    });

    /* highlight the top nav as scrolling occurs */
    $('body').scrollspy({target: '#nav'})

    /* smooth scrolling for scroll to top */
    $('.scroll-top').click(function() {
      $('body,html').animate({scrollTop: 0}, 1000);
    })

    /* smooth scrolling for nav sections */
    $('#nav .navbar-nav li>a').click(function() {
      var link = $(this).attr('href');
      var posi = $(link).offset().top + 20;
      $('body,html').animate({scrollTop: posi}, 700);
    })


  });

</script>
