<%= form_for(:user, :url => login_path, :html => {:method => :post, :class => "navbar-form navbar-left"}) do |f| %>
  <div class="form-group">
    <input type="email" class="form-control input-sm" name="email" placeholder="Email" />
    <input type="password" class="form-control input-sm" name="senha"  placeholder="Senha"/>
  </div>
  <%= f.submit "Acessar", class: "btn btn-primary btn-sm" %>

<%  end %>  
<br/>
<%=link_to "Não tem conta?", register_path, class: "txt-default pull-right" %>
  


