<div class="modal fade " id="modalMudarSenha">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Mudar senha</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label class="control-label">Senha atual</label>
            <input type="password" class="form-control" id="senha_atual" placeholder="Senha atual" />
        </div>
        <div class="form-group">
            <label class="control-label">Nova senha</label>
            <input type="password" class="form-control" id="nova_senha" placeholder="Nova senha" />
        </div>
        <div class="form-group">
            <label class="control-label">Confirmação</label>
            <input type="password" class="form-control" id="confirmacao" placeholder="Confirmação" />
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="mudarSenha">Confirmar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->