<div class="container-fluid">
	<div id="page-login" class="row">
		<div class="col-xs-12 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
			<div class="text-right">
                <%=link_to "Não tem conta?", register_path, class: "txt-default" %>
			</div>
			<div class="box">
				<div class="box-content">
					<div class="text-center">
						<h3 class="page-header">Identificação</h3>
					</div>
					<div class="form-group">
						<label class="control-label">Email</label>
						<input type="email" class="form-control" name="email" />
					</div>
					<div class="form-group">
						<label class="control-label">Senha</label>
						<input type="password" class="form-control" name="senha" />
					</div>
					<div class="text-right">
						<a href="../index.html" class="btn btn-primary">Acessar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
