<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Brimes</title>
		<meta name="description" content="description">
		<meta name="author" content="Brimes">
		<meta name="keyword" content="keywords">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <%= stylesheet_link_tag    "devoops", media: "all", "data-turbolinks-track" => true %>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
	</head>
<body>
  <% flash.each do |name, msg| -%>
    <%  classes = "alert alert-" << name.to_s %>
    <%= content_tag :div, msg, class: classes %>
  <% end -%>
  
  <%= yield %>
  
</body>
</html>